.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
body{
    font-size: 32px;
    text-align: center;
    font-family: inter, Arial, Helvetica, sans-serif;
    background: url(images/pattern-bg.svg);
    color: hsl(240, 38%, 20%);
    padding: 50px;
}  
img{
    max-width: 100%;
    box-shadow: 3px 4px 3px  hsl(240, 18%, 77%) ;
}
.section{
    background: url(images/pattern-curve.svg);
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 30px;
    font-weight: 500;
    background-color: #fff;
    width: 500px;
    padding: 40px;
}
p.name{
    font-weight: 700;
    color: hsl(240, 38%, 20%);
    font-size: medium;
}
p.name-title{
    font-weight: 300;
    color:  hsl(240, 18%, 77%) ;
    font-size: small;
}
.testimonial-1,.testimonial-2{
    display: flex;
}
.align-item{
    flex: 1;
}


/* Responsiveness */
@media only screen and (max-width:768px){
    .testimonial-1,.testimonial-2{
        display: grid;

    }
    body{
        font-size: 20px;
        width: 300px;
        padding: 30px;
    }
}



/* hsl(240, 38%, 20%)
- Grayish Blue: hsl(240, 18%, 77%) */